# Database Test

확장 기능 로드

In [1]:
%reload_ext sql

데이터베이스 접속

In [2]:
%sql postgresql+psycopg2://postgres:1234@127.0.0.1:5432/postgres

'Connected: postgres@postgres'

하나의 SQL 입력시 %sql 사용

In [3]:
%sql select * from pg_catalog.pg_tables limit 10;

10 rows affected.

[('pg_catalog', 'pg_statistic', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_type', 'postgres', None, True, False, False, False),
 ('public', 'test_csv', 'postgres', None, False, False, False, False),
 ('pg_catalog', 'pg_policy', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_authid', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_user_mapping', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_attribute', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_proc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_class', 'postgres', None, True, False, False, False)]

여러개의 SQL 입력시 %%sql 사용

In [4]:
%%sql
drop table if exists test_csv;

create table test_csv (
    server_time timestamp,
    device char(2),
    session_id char(10),
    uid char(7),
    item_id char(7)
);

Done.
Done.

[]

Data Copy 테스트

In [5]:
%%sql
copy test_csv
from '[FILE_DIRECTORY]/test_csv.csv'
csv;

100 rows affected.

[]

In [6]:
%%sql
select * from test_csv limit 10;

10 rows affected.

[(datetime.datetime(2016, 9, 29, 10, 59, 21, 694000), 'MA', 'r3jbBBHfMI', '1dbe8cd', 'cccda36'),
 (datetime.datetime(2016, 9, 29, 0, 3, 51, 319000), 'MA', 'UBn2wub6Ry', '320fc44', '01196d7'),
 (datetime.datetime(2016, 9, 16, 13, 25, 21, 267000), 'MA', 'Xox6XUgZdv', '320fc44', '01196d7'),
 (datetime.datetime(2016, 9, 16, 13, 25, 34, 877000), 'MA', 'Xox6XUgZdv', '320fc44', '01196d7'),
 (datetime.datetime(2016, 9, 29, 23, 25, 9, 985000), 'MA', 'H2KNgUviPF', '578786a', '0b595b7'),
 (datetime.datetime(2016, 9, 25, 16, 45, 32, 96000), 'MA', 'lGtBvOozJB', '578786a', '04c6c53'),
 (datetime.datetime(2016, 9, 17, 0, 52, 4, 819000), 'MA', 'hI3sRu6wdi', '578786a', '73d826f'),
 (datetime.datetime(2016, 9, 25, 23, 0, 58, 606000), 'MA', 'bA8lNoqakQ', '8007201', 'cffaca1'),
 (datetime.datetime(2016, 10, 1, 6, 39, 50, 250000), 'MA', 'DcaHbyAwg7', '99055ba', '435b1c0'),
 (datetime.datetime(2016, 9, 30, 13, 57, 17, 176000), 'MA', 'ELQHWKFjGz', '99055ba', '7849dfd')]